$icon-font-path:    "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:      "../bower_components/font-awesome/fonts";

$brand-primary:         #5e8aa6;
$brand-success:         #799a3e;
$brand-info:            #ba8aa4;
$brand-warning:         #f98810;
$brand-danger:          #d46464;
